<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokenatra</title>
    <link rel="stylesheet" type="text/css" href="../css/pokestyle.css">
  </head>
  <body>
    <header>
      <h1>POKENATRA</h1>
      <em>The Amaging Game Of Pokemons!</em>
      <hr>
    </header>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
